* {
  box-sizing : border-box;
  }
  body {
  margin : 0;
  font-family : 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background : rgb(58, 134, 128, 0.9);
  font-size : 16px;
  }
  h1 {
  text-align : center;
  font-weight : bold;
  padding : 20px 0;
  margin : 40px 0;
  background : rgb(255, 255, 255, 0.297);
  color : white;
  }
  img {
  max-width : 100%;
  }
  .slideshow-container {
  max-width : 1000px;
  position : relative;
  margin : auto;
  width : 95%;
  }
  .mySlides {
  display : none;
  }
  .prev, .next {
  cursor : pointer;
  position : absolute;
  top : 50%;
  width : auto;
  margin-top : -22px;
  padding : 16px;
  color : white;
  font-weight : bold;
  font-size : 18px;
  transition : 0.8s ease;
  border-radius : 0 3px 3px 0;
  user-select : none;
  }
  .next {
  right : 0;
  border-radius : 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
  background-color : rgb(0, 0, 0, 0.8);
  }
  .text {
  color : #f2f2f2;
  font-size : 15px;
  padding : 8px 12px;
  position : absolute;
  bottom : 8px;
  width : 100%;
  text-align : center;
  }
  .numbertext {
  color : #f2f2f2;
  font-size : 12px;
  padding : 8px 12px;
  position : absolute;
  top : 0;
  }
  .dot {
  cursor : pointer;
  height : 15px;
  width : 15px;
  margin : 0 2px;
  background-color : #bbb;
  border-radius : 50%;
  display : inline-block;
  transition : background-color 0.6s ease;
  }
  .active, .dot:hover {
  background-color : #717171;
  }
  .fade {
  animation-name : fade;
  animation-duration : 1.5s;
  }
  @keyframes fade {
  from {
  opacity : 0.6;
  }
  to {
  opacity : 1;
  }
  }
  .wrapper {
  max-width : 1000px;
  margin : 0 auto;
  width : 95%;
  }
  .intro {
  font-size : 1.2rem;
  }
  .intro p {
  margin : 0 0 1rem 0;
  }
  .intro-img {
  width : 10%;
  }
  .intro h1 {
  font-weight : 100;
  font-size : 5rem;
  margin : 0 0 2rem 0;
  }
  .box-wrapper {
  display : flex;
  flex-flow : row wrap;
  margin : 0 -10px;
  }
  .box {
  flex : 1;
  margin : 10px;
  min-width : 300px;
  background : white;
  box-shadow : 1px 1px 1px rgb(255, 255, 255, 0.4);
  }
  .box-content {
  padding : 20px;
  font-size : 0.9rem;
  }
  .box h3 {
  margin : 0;
  font-size : 1.2rem;
  }
  .btn {
  display : inline-block;
  padding : 0.5rem 1rem;
  background : rgb(58, 134, 128, 0.9);
  color : white;
  text-decoration : none;
  }
  .box-content a:hover {
  background : rgb(58, 134, 128, 0.6);
  }
  p {
  text-align : justify;
  }
  nav {
  display : flex;
  position : sticky;
  top : 0;
  justify-content : end;
  background : rgb(58, 134, 128, 0.8);
  z-index : 1;
  margin : 0 auto;
  max-width : 1000px;
  width : 95%;
  }
  nav ul {
  margin : 0;
  list-style : none;
  padding : 0;
  border : 2px;
  }
  nav li {
  float : left;
  }
  .szerszámok .csavarhúzó {
  background-image : url(./hatter.png);
  border : blue solid 2px;
  }
  input[type="text"] {
  width : 100%;
  padding : 12px 20px;
  margin : 8px 0;
  box-sizing : border-box;
  }
  nav a {
  text-decoration : none;
  color : white;
  padding : 15px;
  display : block;
  font-weight : bold;
  font-size : large;
  }
  nav li:hover {
  background : rgb(255, 255, 255, 0.5);
  }
  .mobile-gone {
  background : rgb(255, 255, 255, 0.5);
  }
  @media (max-width: 700px) {
  nav {
  justify-content : space-around;
  position : static;
  }
  nav li {
  display : flex;
  float : none;
  text-align : center;
  padding : 10px;
  border-top : 1px solid rgb(255, 255, 255, 0.3);
  border-bottom : 1px solid rgb(0, 0, 0, 0.1);
  justify-content : space-around;
  }
  .mobile-gone {
  background : none;
  }
  }
  .cookie-accept {
  position : fixed;
  bottom : 0;
  left : 0;
  right : 0;
  background : rgb(0, 0, 0, 0.9);
  color : white;
  padding : 20px;
  text-align : center;
  z-index : 1;
  }
  .cookie-accept button {
  background : yellow;
  color : black;
  border : 0;
  margin-left : 10px;
  padding : 5px 10px;
  border-radius : 3px;
  cursor : pointer;
  }
  .cookie-accept button:hover {
  background : rgb(30, 114, 9);
  color : white;
  }
  input[type="button"] {
  background-color : orange;
  }
  .contact-wrapper {
  max-width : 1000px;
  margin : 0 auto;
  width : 95%;
  }
  input[type="text"], input[type="email"], input[type="tel"], select, textarea {
  width : 100%;
  padding : 12px;
  border : #ccc solid 1px;
  border-radius : 4px;
  resize : vertical;
  }
  label {
  padding : 12px 12px 12px 0;
  display : inline-block;
  }
  input[type="submit"] {
  background-color : #04AA6D;
  color : white;
  padding : 12px 60px;
  border : none;
  border-radius : 4px;
  cursor : pointer;
  }
  input[type="submit"]:hover {
  background-color : #45a049;
  }
  input[type="checkbox"] {
  align-self : auto;
  align-items : baseline;
  }
  .container {
  border-radius : 5px;
  background-color : #f2f2f2;
  padding : 10px;
  }
  .col-left {
  float : left;
  width : 50%;
  margin-top : 2px;
  padding : 0 15px;
  }
  .col-right {
  float : left;
  width : 50%;
  margin-top : 2px;
  padding : 0 15px;
  }
  .col-100, .row, .required {
  margin-top : 2px;
  padding : 0 15px;
  }
  .row:after {
  content : "";
  display : table;
  clear : both;
  }
  @media screen and (max-width: 600px) {
  .col-25, .col-75, .col-100, input[type="submit"] {
  width : 100%;
  margin-top : 0;
  }
  }
  .footer-wrapper {
  display : flex;
  max-width : 1000px;
  margin : 0 auto;
  width : 100%;
  background : #717171;
  justify-content : space-around;
  }
  .footer-left {
  margin : 10px;
  padding : 10px;
  }
  .footer-right {
  width : 55%;
  margin : 10px 10px 10px 30px;
  padding : 10px;
  }
  iframe {
  width : 100%;
  }
  @media (max-width: 700px) {
  .footer-wrapper {
  flex-direction : column;
  width : 100%;
  align-items : center;
  justify-content : space-around;
  }
  iframe {
  width : 100%;
  padding : 0;
  }
  }